{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block contents %}

<div class="container-fluid d-flex justify-content-center">
    <div class="col-lg-6">
        <!-- start card  -->
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title">Checkout Rental</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="col-2">Customer</th>
                            <td>{{rental.customer}}</td>
                        </tr>
                        <tr>
                            <th class="col-2">Car</th>
                            <td>{{rental.car}}</td>
                        </tr>
                        <tr>
                            <th class="col-2">Start Date</th>
                            <td>{{rental.start_date}}</td>
                        </tr>
                        <tr>
                            <th class="col-2">End Date</th>
                            <td>{{rental.end_date}}</td>
                        </tr>
                        <tr>
                            <th class="col-2">Total Days</th>
                            <td>{{rental.total_days}}</td>
                        </tr>
                            <th class="col-2">Late Fee</th>
                            <td>Rp{{late_fee}}</td>
                        </tr>
                        <tr>
                            <th class="col-2">Total Cost</th>
                            <td>Rp{{rental.total_cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-end">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Checkout</a>
                </form>
            </div>
        </div>
        <!-- end card  -->
    </div>
</div>

                
{% endblock %}