<!-- start menu -->
<div class="col shadow border rounded-start py-3">
    <p class="mb-3 text-center"><Strong>Halo {{ name }}</Strong></p>
    <div class="list-group list-group-flush border-top border-bottom">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action menu-1">
            Dasboard
        </a>
        <a class="list-group-item list-group-item-action menu-2" data-bs-toggle="collapse" href="#collapseRental" role="button" aria-expanded="false" aria-controls="collapseRental">
            Rentals
        </a>
        <div class="collapse" id="collapseRental">
            <a href="{% url 'rentals_page' %}" class="list-group-item list-group-item-action menu-2">
                Rentals List
            </a>
        </div>
        <a href="{% url 'users_page' %}" class="list-group-item list-group-item-action menu-3">
            Users
        </a>
        <a href="{% url 'cars_page' %}" class="list-group-item list-group-item-action menu-4">
            Cars
        </a>
    </div>
</div>
<!-- end menu -->