{% extends 'base.html' %}


{% block contents %}

<div class="container-fluid">
    <div class="row">
        
        {% include 'menu.html' %}
        
        <!-- start table  -->
        <div class="col-md shadow rounded-end p-2">
            <div class="row mb-3">
                <div class="col-10">
                    <h2>User List</h2>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Contacts</th>
                            <th scope="col">NIK</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if users %}
                            {% for user in users %}
                                <tr>
                                    <th scope="col">{{forloop.counter}}</th>
                                    <td>{{user.full_name}}</td>
                                    <td>{{user.email}}<br>{{user.phone_number}}</td>
                                    <td>{{user.nik}}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="9" class="text-center">Data not found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end table  -->
    </div>
</div>
{% endblock %}